@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e2126;
}

section {
    font-family: 'Fira Code', monospace;
}

.navbar {
    background-color: white;
}

.nav-link {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    background-color: black;
}

.navbar-brand {
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.social-icons>a {
    text-decoration: none;
}

.rounded-circle {
    height: 190px;
    width: 190px;
}